grupa_N/matnovak/grupa_3/matnovak_zadaca_3_1/web/WEB-INF/wsit-org.foi.nwtis.matnovak.ws.serveri.GeoMeteoWS.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GeoMeteoWS" targetNamespace="http://serveri.ws.matnovak.nwtis.foi.org/" xmlns:tns="http://serveri.ws.matnovak.nwtis.foi.org/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
 >
    <message name="dajSveAdrese"/>
    <message name="dajSveAdreseResponse"/>
    <message name="dajVazeceMeteoPodatkeZaAdresu"/>
    <message name="dajVazeceMeteoPodatkeZaAdresuResponse"/>
    <message name="dajZadnjeMeteoPodatkeZaAdresu"/>
    <message name="dajZadnjeMeteoPodatkeZaAdresuResponse"/>
    <message name="dajSveMeteoPodatkeZaAdresu"/>
    <message name="dajSveMeteoPodatkeZaAdresuResponse"/>
    <portType name="GeoMeteoWS">
        <operation name="dajSveAdrese">
            <input message="tns:dajSveAdrese"/>
            <output message="tns:dajSveAdreseResponse"/>
        </operation>
        <operation name="dajVazeceMeteoPodatkeZaAdresu">
            <input message="tns:dajVazeceMeteoPodatkeZaAdresu"/>
            <output message="tns:dajVazeceMeteoPodatkeZaAdresuResponse"/>
        </operation>
        <operation name="dajZadnjeMeteoPodatkeZaAdresu">
            <input message="tns:dajZadnjeMeteoPodatkeZaAdresu"/>
            <output message="tns:dajZadnjeMeteoPodatkeZaAdresuResponse"/>
        </operation>
        <operation name="dajSveMeteoPodatkeZaAdresu">
            <input message="tns:dajSveMeteoPodatkeZaAdresu"/>
            <output message="tns:dajSveMeteoPodatkeZaAdresuResponse"/>
        </operation>
    </portType>
    <binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
        <wsp:PolicyReference URI="#GeoMeteoWSPortBindingPolicy"/>
        <operation name="dajSveAdrese">
            <input/>
            <output/>
        </operation>
        <operation name="dajVazeceMeteoPodatkeZaAdresu">
            <input/>
            <output/>
        </operation>
        <operation name="dajZadnjeMeteoPodatkeZaAdresu">
            <input/>
            <output/>
        </operation>
        <operation name="dajSveMeteoPodatkeZaAdresu">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="GeoMeteoWS">
        <port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="GeoMeteoWSPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
